.quiz-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  .quiz-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    line-height: 1.5;
  }
  p {
    font-size: 16px;
  }
  .quiz-card-btn-container {
    margin-top: 20px;
    .quiz-card-btn {
      width: 80px;
      margin: 5px;
    }
  }
}

.mat-card:not([class*=mat-elevation-z0]) {
  transition: 0.7s;
}

.mat-card:not([class*=mat-elevation-z0]):hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 20%);
  background-color: #edf3fd;
}