.header {
  position: fixed;
  top: 0;
  height: 80px;
  box-shadow: var(--header-shadow);
  z-index: 1;
  .header-content {
    display: flex;
    align-items: center;
    width: 1400px;
    margin: auto;
    .header-logo-container {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .header-title {
      margin-left: 10px;
      font-size: 35px;
    }
    .header-current-page {
      flex: 1 1 auto;
      margin-left: 50px;
      font-size: 25px;
      padding-top: 4px;
      text-shadow: var(--header-text-shadow);
      cursor: pointer;
    }
    .header-username {
      margin-right: 20px;
    }
    .header-login-btn {
      margin-right: 10px;
    }
  }
}