<div class="container">
  <app-home-sidebar class="home-sidebar" (emitSearchByQuizName)="searchByQuizName($event)"
    (emitSortQuizzes)="sortQuizzes($event)" (emitCreateQuiz)="createQuiz($event)"></app-home-sidebar>
  <div class="home-content">
    <button mat-raised-button color="accent" class="home-play-btn" (click)="playRandomQuiz()">I'm lucky</button>
    <div class="home-quizzes-container">
      <app-quiz-card class="home-quiz-card" *ngFor="let quiz of quizzes" [quizData]="quiz"
        (emitPlayQuiz)="playQuiz($event)" (emitRemoveQuiz)="removeQuiz($event)">
      </app-quiz-card>
    </div>
    <ng-container *ngIf="searchMode">
      <h3 *ngIf="noResults">No results found</h3>
      <button mat-raised-button color="warn" (click)="goBack()">
        Go back
      </button>
    </ng-container>
  </div>
</div>