.container {
  .home-play-btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .mat-progress-spinner {
    margin-top: 10%;
  }
  .home-quizzes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin: 40px 0;
    .home-quiz-card{
      flex: 0 1 calc((100% / 3) - 10px);
    }
  }
}