<mat-card class="auth-card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>{{ title }}</h2>
    <mat-form-field *ngIf="isRegistration">
      <input matInput placeholder="Username" formControlName="username" name="username">
      <mat-error>
        Username must contain minimum of 8 and maximum of 20 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" name="email">
      <mat-error>
        Email is not valid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password"
        name="password">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>
        Password must contain minimum of 8 characters, at least 1 uppercase and 1 lowercase letter, 1 number, and 1
        special character
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isRegistration">
      <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" placeholder="Repeat password"
        formControlName="repeatPassword" name="repeatPassword">
      <button type="button" mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
        <mat-icon>{{ hideRepeatPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('repeatPassword')!.hasError('notSame')">
        Passwords don't match
      </mat-error>
    </mat-form-field>
    <button mat-raised-button class="auth-btn" color="primary" [disabled]="!form.valid">
      {{ buttonText }}
    </button>
  </form>
</mat-card>