.close-btn {
  float: right;
  top:-24px;
  right:-24px;
  .close-icon {
    transition: 1s ease-in-out;
  }
  .close-icon:hover {
    transform: rotate(180deg);
  }
}

::ng-deep .mat-dialog-container {
  padding: 35px;
}

.content {
  text-align: center;
  margin: 0;
  overflow: unset;
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  p {
    font-size: 25px;
    margin-bottom: 35px;
  }
}