.quiz-question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  .quiz-leave-btn {
    position: relative;
    left: 45%;
  }
  .quiz-questions-count {
    font-size: 35px;
    margin: 0;
  }
  .quiz-question {
    display: flex;
    align-items: center;
    height: 75px;
    font-size: 25px;
    margin: 20px 80px;
    line-height: 1.5;
    text-align: center;
  }
  .quiz-radio-btn-container {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
  }
  .quiz-btn-container {
    margin: 30px 0;
    .quiz-btn {
      width: 150px;
      height: 40px;
    }
  }
}

:host ::ng-deep .mat-radio-container{
  height: 35px;
  width: 35px;
}
:host ::ng-deep .mat-radio-outer-circle{
  height: 35px;
  width: 35px;
}
:host ::ng-deep .mat-radio-inner-circle{
  height: 35px;
  width: 35px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple{
  height: 70px;
  width: 70px;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}
:host ::ng-deep .mat-radio-label-content {
  font-size: 18px;
  margin-left: 10px;
}